
.StakPane{
	
	-fx-background-image:url("../rdf.images/home.jpg"); 
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	 
}

.VBox{
      -fx-background-color:rgba(55,71,79,0.8);
    }

.button {
  
  -fx-border-radius:6px;
  -fx-background-color:#FF7043;
  -fx-border-style:none; 
  -fx-content-display:center;
  -fx-text-alignment:center ;
  -fx-text-fill:white;
  -fx-font-size:14px; 
  -fx-pref-width:120px;	
 
 }

.button:hover{
	
	-fx-background-color:#D84315;
	
}


#TitleText {
	
	-fx-font-size: 22px;
	-fx-fill:#ff6e40;
	-fx-font-style:oblique;
	 
}

.text-field {
	-fx-border-style:none;
	-fx-border-radius:4px;
	-fx-text-fill:black;
	-fx-prompt-text-fill:#f4511e;
	}
	
.password-field{
	-fx-border-style:none;
	-fx-border-radius:4px;
	-fx-text-fill:black;
	-fx-prompt-text-fill:#f4511e;
}

.VBox-dialogSentence {
	-fx-background-color:#546E7A;
	 
}

.VBox-dialogSentence .button {
	-fx-pref-width:100px;	
	-fx-background-color:#FFAB91;
	 
}

.VBox-dialogSentence #TitleDialog {
	-fx-font-size:22px;
	-fx-fill:#FFAB91;
}