.AnchorPane-root {
  -fx-background-image:url("../rdf.images/sfondolobbyEdit.jpg");  
  -fx-background-repeat: stretch;
  -fx-background-size:100%; 
}

.AnchorPane-root .button {

  -fx-background-color:rgba(55,71,79,0.9);
	
}

.AnchorPane-root .button:hover{
    -fx-background-color:#FFD180;

}


.toggle-button {

-fx-background-color:transparent;
-fx-background-image: url("../rdf.images/button.png");
-fx-background-size: 160px 160px;
-fx-background-repeat: no-repeat;
-fx-background-position: center;
	
}

.toggle-button:hover{
    -fx-background-image: url("../rdf.images/button_hover.png");
}

.toggle-button:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.toggle-button:selected {
    -fx-background-image: url("../rdf.images/button_clicked.png");
}

.tab-pane {
    -fx-tab-max-height: 0 ;
} 
.tab-pane .tab-header-area {
    visibility: hidden ;
}

.text-area {
	-fx-text-fill: #ffffff;
	-fx-background-color:rgba(55,71,79,0.7);
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.progress-bar .bar {
    -fx-background-color: -fx-box-border,linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),#FF6E40;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
}

.Anchorpane-moves .button {
	-fx-background-color:rgba(240,230,107,0.9);
}

.Anchorpane-moves .button:hover {
	-fx-background-color:#F4511E;
}

.tree-view, .tree-cell {
    -fx-background-color:rgba(55,71,79,0.7);
    -fx-text-fill: white ;
}

.grid-pane {
	-fx-background-color:rgba(55,71,79,0.7);
	-fx-grid-lines-visible:true;
}

.grid-pane Line {
  -fx-stroke:#FF6E40;
  -fx-stroke-width: 2px;
}
