.AnchorPane{

  -fx-background-image:url("../rdf.images/home.jpg"); 
  -fx-background-repeat: no-repeat;
  -fx-background-size: cover, auto;
}

.Pane {
	
	-fx-background-color:rgba(55,71,79,1);
	
	} 

.VBox-home_play .button {
	-fx-background-radius:18;
	-fx-border-radius:18;
	-fx-background-color:rgba(240,230,107,0.9);
	-fx-pref-width:270px;
	-fx-font-size:18px; 
	-fx-text-fill:black; 

}

.VBox-home_play .button:hover {
	-fx-font-size:20px; 
	-fx-text-fill:white; 
	-fx-background-color:#F4511E;

}

#btnMenuPanel {
-fx-background-color:rgba(55,71,79,0.4);

}

#btnMenuPanel .menu-item{
-fx-background-color:rgba(55,71,79,1);
}

.menu-item .label {
   -fx-font-size:15px; 
   -fx-text-fill:white;
}

.menu-item:focused .label {
    -fx-text-fill: #FF6E40 ;
}

.AnchorPane #btnSentenceManager{
	-fx-pref-width:42px;
	-fx-pref-height:42px;
	-fx-background-color:transparent;
	-fx-background-image:url("../rdf.images/settings_42px.png"); 
	
}