.VBox-root {
	
	-fx-background-color:rgba(55,71,79,1);
	
}

.HBox-menu {
	-fx-text-fill:white;
}

.HBox-leave .button {
	-fx-background-radius:18;
	-fx-border-radius:18;
	-fx-background-color:rgba(240,230,107,0.9);
	-fx-pref-width:70px;
	-fx-font-size:18px; 
	-fx-text-fill:black; 

}

.HBox-leave .button:hover {
	-fx-text-fill:white; 
	-fx-background-color:#F4511E;

}
.VBox-root .list-view {
 
 -fx-background-color:rgba(84,110,122,0.8);
 	
}

.VBox-root .text-area {
	-fx-text-fill: #ffffff;
}
.VBox-root .text-area .content {
 
 -fx-background-color:rgba(84,110,122,0.8);
 	
}

.VBox-root .list-cell:even { 
    -fx-background-color:#ff6e40;
    -fx-text-fill:#ffff;
}

.VBox-root .list-cell:odd{ 
    -fx-background-color:#607D8B;
    -fx-text-fill:#ffff;
}


.VBox-root .list-cell:filled:hover {
    -fx-background-color:#FFD180;
    -fx-text-fill:#ffff;
}
 
 