.VBox-root {
  -fx-background-image:url("../rdf.images/sfondolobbyEdit.jpg");  
  -fx-background-repeat: stretch;
  -fx-background-size:100%; 
}

#btnHome {

 -fx-background-color:transparent; 
}

#btnMenuPanel {
-fx-background-color:rgba(55,71,79,0.7);

}

.menu-item .label {
   -fx-font-size:14px; 
   -fx-text-fill:white;
}

.menu-item:focused .label {
    -fx-text-fill: #FF6E40 ;
}

#btnMenuPanel .menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity:1.0;
}

#btnMenuPanel .menu-item{
-fx-background-color:rgba(55,71,79,1);
}


.table-view {
	-fx-background-color:rgba(55,71,79,0.6);
	
} 

.table-cell{
	-fx-text-fill:white;
	 -fx-alignment:CENTER;
}

.table-view:focused .text {
	-fx-text-fill: white;
	-fx-background-color:transparent;
}


.table-row-cell:odd{
	-fx-background-color:transparent;
}

.table-row-cell:even{
	
	-fx-background-color:transparent;
}

.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color:#FF8A65;
    -fx-text-fill:white;
}

.table-row-cell:filled:hover {
    -fx-background-color:#78909C;
    -fx-text-fill:#ffff;
}

.table-view .column-header {
    -fx-background-color:transparent;
}

.table-view .column-header-background{
   -fx-background-color:linear-gradient(#FF8A65 26%, #FF6E40 100%);
}

.table-view .column-header-background .label{
       -fx-background-color: transparent;
       -fx-text-fill: white;
}

.HBox-submenu .button {
     -fx-pref-width:140px;	
     -fx-border-radius:2px;
     -fx-background-color:#E9CF67;
     -fx-pref-height:35px;
     -fx-text-fill:black;
     -fx-font-size:16px; 	
}

.HBox-submenu .button:hover {
     	
     -fx-background-color:#FF6E40 ;
}