.VBox-root {
   -fx-background-color:rgba(55,71,79,1);
    
}

.VBox-root #buttonHome {
 -fx-background-color:transparent;
}

.HBox-btnEdit .toggle-button{
	 -fx-pref-width:90px;	
     -fx-border-radius:2px;
     -fx-background-color:#E9CF67;
     -fx-pref-height:25px;
     -fx-text-fill:black;
     -fx-font-size:14px; 
}

.HBox-btnEdit .toggle-button:selected{
	
	-fx-background-color:#FF8A65;

}

.text-field{
	 -fx-pref-width:170px;
}

.HBox-fields .label {
	-fx-text-fill:white;
	-fx-font-size:14px;
}

.HBox-fields .text-field{
	-fx-pref-width:200px;
	-fx-pref-height:28px;
	-fx-border-radius:6 6 2 2;
  -fx-background-radius:6 6 6 6;
}
.HBox-btns .button{
	 -fx-pref-width:140px;	
     -fx-border-radius:2px;
     -fx-background-color:#E9CF67;
     -fx-pref-height:30px;
     -fx-text-fill:black;
     -fx-font-size:14px; 	
	
}

