
.VBox-root {
  -fx-background-image:url("../rdf.images/back3.jpg");
  -fx-background-repeat:stretch;
  -fx-background-size:100%; 
 }

.HBox-menu {
	  -fx-background-color:rgba(55,71,79,0.8);
	  }

.HBox-menu #Button{
	-fx-background-color:transparent;
}

.VBox2 {
	-fx-background-color:transparent;
 
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
}


.titled-pane 
{
-fx-text-fill:black	;
-fx-font-size:16px;

}
.titled-pane:focused 
{
-fx-text-fill: white;
}
.titled-pane > .title 
{
-fx-background-color: -fx-box-border, -fx-inner-border, -fx-body-color;
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
-fx-color:rgba(233,207,103,0.6); 
}

.titled-pane:focused > .title 
{
-fx-color:#FF8A65;

	
}

.titled-pane > .title > .arrow-button 
{
-fx-background-color: null;
-fx-background-insets: 0;
-fx-background-radius: 0;
-fx-padding: 0.0em 0.25em 0.0em 0.0em; /* 0 3 0 0 */
}

.titled-pane > .title > .arrow-button .arrow 
{
-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
-fx-background-insets: 1 0 -1 0, 0;
-fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
-fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.titled-pane:collapsed > .title > .arrow-button .arrow 
{
-fx-rotate: -90;
}

.titled-pane > *.content 
{
	-fx-background-color:rgba(55,71,79,0.7);
}

.titled-pane:focused > .title > .arrow-button .arrow 
{
-fx-background-color:#D84315;
}

.button-extend {
	-fx-background-color:transparent;
	-fx-pref-width:24px;	
	-fx-pref-height:24px;
	-fx-background-image:url("../rdf.images/expand_arrow_24px.png"); 
	
}

.tab-pane {
    -fx-tab-max-height: 0 ;
} 
.tab-pane .tab-header-area {
    visibility: hidden ;
}