.HBox-root {
   -fx-background-color:rgba(55,71,79,1);
}

.HBox-root .button{
	-fx-background-color:#ff6e40;
}



.HBox-root #buttonHome {
     -fx-pref-width:32px;
      -fx-pref-width:32px;		
    -fx-background-color:transparent;
    -fx-background-image:url("../rdf.images/homePage.png");   
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:rgba(55,71,79,1);
}


.VBox-root #TextBack {
 -fx-font-size:20px;
 -fx-fill:#ff6e40;
 -fx-font-style:oblique;

}

.HBox-filter-search {
	  -fx-background-color:#FFFF;
}

.HBox-filter-search #buttonSearch{
     -fx-pref-width:28px;
      -fx-pref-width:28px;		
    -fx-background-color:transparent;
    -fx-background-image:url("../rdf.images/search.png");  
}

.HBox-filter-search #buttonFilter{
     -fx-pref-width:28px;
      -fx-pref-width:28px;		
    -fx-background-color:transparent;
    -fx-background-image:url("../rdf.images/filter.png");  
}
.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:30px;
  -fx-tab-max-height:30px;
}

.tab {
  -fx-font-size:12px;
  
}

.tab:selected{
   -fx-background-color:#FF6E40;
}

.HBox-loadcsv .button {
     -fx-pref-width:190px;	
     -fx-border-radius:2px;
     -fx-background-color:#E9CF67;
     -fx-pref-height:32px;
     -fx-text-fill:black;
     -fx-font-size:13px; 	
}

.HBox-loadcsv {
	-fx-background-color:white;
     	}
     	
     	
.HBox-loadcsv #loadbtn {
	  -fx-pref-width:32px;	
     -fx-background-color:transparent;
     -fx-background-image:url("../rdf.images/uploadDocument.png");  	
}


.HBox-loadcsv .button:hover {
     	
     -fx-background-color:#FF6E40 ;
}

.HBox-sentencesloaded-items {
 
 -fx-background-color:FFFFFF;
		
}

.HBox-sentencesloaded-items .button {
 -fx-background-color:#E9CF67;
 -fx-pref-width:180px;	
 -fx-border-radius:4px;
 -fx-font-size:13px;
 
 }
 
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:linear-gradient(#FF8A65 26%, #FF6E40 70%);
    -fx-fill:white;
}

.list-cell:even { 
    -fx-background-color:#607D8B;
    -fx-text-fill:#ffff;
}


.list-cell:filled:hover {
    -fx-background-color:#FFD180;
    -fx-text-fill:#ffff;
}
 
 .HBox-sentencesloaded-items .button:hover {
   -fx-background-color:#FF6E40 ;
 }

.VBox-dialogSentence .text-field{
    
    -fx-font-size:14px;
	-fx-text-fill:black;
	-fx-pref-width:250px;
	-fx-font-style:oblique;	
}

.VBox-dialogSentence {
	-fx-background-color:#546E7A;
	 
}

.VBox-dialogSentence .button {
	-fx-pref-width:100px;	
	-fx-background-color:#FFAB91;
	 
}

.VBox-dialogSentence #Title {
	-fx-font-size:22px;
	-fx-fill:#FFAB91;
}

.HBox-AdminPanel {
	
	-fx-background-color:rgba(55,71,79,0.8);
} 

.HBox-AdminPanel #buttonHome{		
    -fx-background-color:transparent;
    -fx-text-fill:#ffffff;
     -fx-graphic:url("../rdf.images/homePage.png");  
     
}



.HBox-AdminPanel .label {
	
	-fx-text-fill:#ff6e40; 
	-fx-font-size:20px;
} 

.AnchorPanel-adminPanel {
 
  -fx-background-image:url("../rdf.images/back3.jpg");
  -fx-background-repeat: stretch;
  -fx-background-size: 100%; 
  
}

.AnchorPanel-adminPanel .button{
 
 -fx-pref-width:140px;	
     -fx-border-radius:2px;
     -fx-background-color:#E9CF67;
     -fx-pref-height:35px;
     -fx-text-fill:black;
     -fx-font-size:14px;
  
}

.AnchorPanel-adminPanel-two {
 -fx-background-color:rgba(255,110,64,0.6);
 }
 
 
 
.VBox-GridPaneAdmin {
 	-fx-fill:#ffffff;
 	-fx-background-color:rgba(55,71,79,0.4);
 	-fx-font-size: 20px;
 	 
 }
 
  
.VBox-GridPaneAdmin {
 	-fx-fill:#ffffff;
 	-fx-background-color:rgba(55,71,79,0.6);
 	-fx-font-size: 20px;
 	 
 }
 
.VBox-GridPaneAdmin .text{
 	-fx-fill:#ffffff;
 	-fx-font-size: 20px;
 }
 

.VBox-GridPaneAdmin .label{
 	-fx-text-fill:#ffffff;
 	-fx-font-size: 20px;
  }
 
 
 
